@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    background-color: $veryPaleBlue;
    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 150vh;
}

a {
    text-decoration: none;
}